<html>
    <head>
        <style>
            .inst-readout {
                color: black;
                font-size: 180px;
                font-family: "Helvetica";
                width: 700px;
                height: 200px;
            }
            .inst-title {
                font-size: 25px;
                font-family: "Helvetica";
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>
            var runLoop  = setInterval(loadInstrumentData, 1500);
            function loadInstrumentData(){
                $.getJSON("./data_wind/", function(data) {
                    $("#top-inst").html(data.windSpeed);
                    $("#bottom-inst").html(data.windAngle);
                });
            };
        </script>
    </head>
    <body>
        <div class='inst-title'>Wind Speed</div>
        <div id='top-inst' class='inst-readout'>000</div>
        <div class='inst-title'>Wind Angle</div>
        <div id='bottom-inst' class='inst-readout'>000</div>
    </body>
</html>
